.list-post-description a{font-weight: bold;}

.menu{background-color: #ffffff !important;
color: #444444 !important;}
.menu a{color:#444444 !important;
font-weight: bold;}

.barra-google div{margin: 0;
padding: 0;
width: 25%;
float: left;
height: 0.5rem;
margin-bottom: -0.25rem;}

.barra-google .a{background-color: #4285f4;}
.barra-google .b{background-color: #ea4335;}
.barra-google .c{background-color: #fbbc05;}
.barra-google .d{background-color: #34a853;}

.list-post-description a{color: #4285f4 !important;}

.footer{background-color: #555555 !important;
font-weight: bold;
background: url("../assets/img/pattern.svg"),rgba(85,85,85,0.9);}
.footer a{color: #ffffff !important;}

.clear{clear: both;}

#grupos table{border-collapse: collapse;
margin-top:2rem;
margin-bottom:3rem;}
#grupos tbody{line-height: 1rem;
color:#444444;}
#grupos td{padding:.25rem;}
#grupos tr{border-bottom: #555555 solid 1px !important;}
#grupos table tr td:nth-child(3){text-align: center;
font-weight: bold;}
#grupos table tr td:nth-child(5){text-align: center;
font-size: .7rem;}
